@media screen and (max-width:991px) {
    footer .section {
       text-align: center;
    }
} 

/* @media screen and (max-width: 664px) {
    .footer-head {
        font-size: 12px;
    }

    footer ul li a {
        font-size: 10px;
    }

    footer .container {
        margin: 8px 2px !important;
    }
}

@media screen and (max-width:458px) {
    footer .container {
        width: 100px;
        margin: 8px 0 !important;
    }

    .footer-head {
        font-size: 12px;
    }

    footer ul li {
        list-style: none;
        padding: 2px 0;
    }

    footer ul li a {
        font-size: 10px;
    }

}*/

@media screen and (max-width:400px) {
    footer {
        display: flex  !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        font-size: 14px;
    }

    footer .section {
        width: 49% !important;
    }
} 