@media screen and (max-width: 500px) {
    .card {
        width: 81%;
        max-width: 349px;
    }

    .search input {
        width: 0px;
    }

    .details {
        padding: 0px;
    }

    .col img {
        height: 24px;
    }

    .weather p {
        font-size: 14px;
    }

    .humidity,
    .wind {
        font-size: 14px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather-icon {
        width: 139px;
    }
}