* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131313fc;
}

.card {
    width: 90%;
    max-width: 440px;
    text-align: center;
    padding: 40px 35px;
    /* background-color: cornflowerblue; */
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    height: 44px;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 27px;
    font-size: 19px;
}

.search button {
    border: 0;
    outline: 0;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.search button img {
    width: 20px;
    margin: 4px 0 0 0;
}

.weather-icon {
    width: 158px;
    margin-top: 27px;
    margin-bottom: 12px;
}

.weather {
    display: none;
}

.weather h1 {
    font-size: 70px;
    color: white;
    font-weight: 500;
}

.weather p {
    color: white;
}

.weather h2 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 6px;
    color: white;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
    padding: 0 22px;
}

.col {
    display: flex;
    justify-content: center;
    text-align: left;
}

.col img {
    height: 40px;
    margin-right: 12px;
}

.humidity,
.wind {
    font-size: 25px;
    margin-top: -6px;
    margin-bottom: 2px;
    color: white;
}

.error {
    text-align: center;
    color: white;
    margin-top: 29px;
    font-size: 20px;
    display: none;
}